.post-list__title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
}
.post-list__container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #32649E;
    border-radius: 8px 8px 16px 16px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .post-list__container {
      width: calc(100% - 32px);
      margin: 0 16px;
    }
    .post-list__title {
      width: calc(100% - 32px);
      margin: 0 16px;
    }
}